@charset "UTF-8";
/* =====map运算======= */
.p4 {
  content: 12px;
  content: false;
  content: "small", "normal", "large";
  content: 12px, 18px, 24px;
  content: "small", "normal", "large", "x-large", "xx-large";
  content: "normal", "large";
  content: "normal";
}