@font-face {
  font-family: "iconfont"; /* Project id 4192296 */
  src: url('iconfont.woff2?t=1690874366204') format('woff2'),
       url('iconfont.woff?t=1690874366204') format('woff'),
       url('iconfont.ttf?t=1690874366204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingweiweizhi:before {
  content: "\1011f";
}

.icon-fangkeyaoqing:before {
  content: "\10120";
}

.icon-huiyuan:before {
  content: "\10121";
}

.icon-jiankongchakan:before {
  content: "\10122";
}

.icon-huodong:before {
  content: "\10123";
}

