#test {
  color: red;
}
button {
  width: 100px !important;
  height: 100px !important;
  color: red;
  list-style: none;
}
button {
  width: 100px!important;
  height: 100px!important;
  color: red;
  list-style: none;
}
